git@github.com:kngwyu/mujoco-py.git && \
    git@github.com:kngwyu/Rainy.git && \
    git@github.com:kngwyu/intrinsic-rewards.git && \
    git@github.com:kngwyu/rlpy3.git && \
    git@github.com:kngwyu/private-experiments.git
